@import "tailwindcss";

/* your custom theme variables */
:root {
  --primary-color: #1380ec;
  --secondary-color: #e7f3ff;
  --text-primary: #1a202c;
  --text-secondary: #718096;
}
body {
  font-family: 'Inter', sans-serif;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.sidebar-link {
  @apply flex items-center gap-3 px-4 py-2.5 rounded-lg text-slate-700 hover:bg-[var(--secondary-color)] hover:text-[var(--primary-color)] transition-colors duration-200;
}
.sidebar-link.active {
  @apply bg-[var(--secondary-color)] text-[var(--primary-color)] font-semibold;
}
.sidebar-link .material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.sidebar-link.active .material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
